@import './fonts.css';
@import './animations.css';
@import 'tailwindcss';

html,
body {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Fira Code', 'JetBrains Mono', monospace;
}

/* Custom backdrop blur for overlay */
.backdrop-blur {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

/* css for scroll bar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.draggable {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
